.dashboard-container1 {
    font-family: Arial, sans-serif;
    background: #f4f4f2;
    padding: 20px;
  }
  
  .dashboard-sections {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .recordings-box, .developer-box {
    background:  rgb(255, 251, 251);
    padding: 20px;
    border-radius: 10px;
    color: white;
    width: 45%;
    transform: scale(1.00);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2),
    0 12px 25px rgba(0, 0, 0, 0.25);
  }
  
  .browse-button, .upload-button, .generate-key {
    background: #282855;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .upload-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 61px;
    margin-left: 93px;
  }
  
  .code-area {
    background: #444;
    height: 100px;
    margin: 10px 0;
  }
  
  .key-section {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  
  .key-input {
    flex: 1;
    padding: 5px;
    background: #999;
    border: none;
    color: white;
  }
  
  .copy-button {
    padding: 5px;
    margin-left: 5px;
    cursor: pointer;
  }
  
  .recordings-box{
    height: 244px ;
    width: 300px;
  }

  .newsidebar
  {
    width: 36%;
  }
  .main-content h2{
  font-size: 15px;
  color: rgb(12, 13, 14);
  text-align: center;
  }
  .main-content button
  {
    margin-top: 40px;
    
  }

  .main-content p{
    font-size: 16px;
    color: rgb(23, 26, 26);
    margin-top: 10px;
    text-align: center;
  }
  .upload-button:hover
  {
  background-color:#38383d;
  }