
.record-dash{
  width: 95%;
  margin: auto;
  margin-top: 20px; /* Adjust the value as needed */
  font-family: Arial, sans-serif;
  
  padding: 10px;
}

.browse-button {
  background: #282855;
  padding: 1px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin-top: 10rem;
  width: 15rem;
}


.upload-button {
  padding: 1px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  background: #282855;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  margin-left: 10rem;
}

.upload-button:hover {
  background-color: #bbb;
}

/* .code-area {
  background: #444;
  height: 100px;
  margin: 10px 0;
}

.key-section {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.key-input {
  flex: 1;
  padding: 5px;
  background: #999;
  border: none;
  color: white;
}

.copy-button {
  padding: 5px;
  margin-left: 5px;
  cursor: pointer;
} */

.recordings-box {
  border-radius: 1rem;
  height: 20rem;
  width: 25rem;

  margin-top: 5px;
  margin-right: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12),
    0 10px 20px rgba(0, 0, 0, 0.15);

}

.newsidebar {
  width: 36%;
}

.chword {
  font-size: 15px;
  color: black;
  text-align: justify;
  font-family: 'Arial', sans-serif;
  position: relative;
  /* bottom: 1rem; */
  top: 10rem;
  left: 8rem;
}

.main-content button {
  margin-top: 40px;

}

.record-content {
  font-size: 16px;
  color: rgb(23, 26, 26);
  /* margin-top: 10px; */
  text-align: center;
  margin-top: -2rem;
  width: 100%;
}


.drop-record {
  font-size: 15px;
  display: flex;
  gap: 5px;
  position: relative;
  top: 9rem;
  left: 3rem;
  width: 10rem;
 
}

.developer-box {
  border-radius: 1rem;
  height: 20rem;
  width: 35rem;
  /* margin-right: -1rem; */
  margin-top: -21.5rem;
  margin-left: 26rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12), 0 10px 20px rgba(0, 0, 0, 0.15);
}


.wordrec {
  font-size: 1rem;
  position: relative;
  width: fit-content;
  top: 3rem;
}
.worddev{
  font-size: 1rem;
  position: relative;
  width: 10rem;
  left: 24.5rem;
  top: -21.5rem;
}

.generate-key-button{
  padding: 1px;
  border: none;
  border-radius: 5px;
  color: white;
  /* cursor: pointer; */
  background: #282855;
  align-items: center;
  /* justify-content: center; */
  width: 7rem;
  position: relative;
  left: 37.5rem;
  top: -1.5rem;
}
.generate-key-button:hover{
  background-color: #bbb;

}
.key-input {
  width: 10rem;
  padding: 5px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: fit-content;
  position: relative;
  left: 38rem;
  top: 1rem;
}

.copy-key-button {
  padding: 5px 10px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  background: #282855;
  cursor: pointer;
  width: fit-content;
  position: relative;
  left: 37rem;
  top: -1.5rem;
}
.copy-key-button:hover{
  background-color: #bbb;
}
.clipcopy{
  padding: 5px 10px;
  
  border: none;
  border-radius: 5px;
  color: white;
  background: #282855;
  cursor: pointer;
  width: fit-content;

}

.clipcopy:hover{
  background-color: #bbb;
}
/* .copy-key-button:disabled {
  background: #ccc;
  cursor: not-allowed;
} */
.generate-container{
  display: flex;
  flex-wrap: wrap;
  top: 1rem;
}



.curl-div {
  width: 100%;
  max-width: 400px; /* Set a max limit */
  min-width: 30%;
  text-align: left;
  margin-left: 40px;

}

.curlcode
{
  color: rgb(22, 22, 22);
}

html, body {
  overflow-x: hidden;
}